<!--  for large screen-->

<mat-toolbar fxShow.gt-sm="true" fxHide.lt-md="true"  color="primary" >

  <mat-nav-list fxLayout>
    <a   mat-list-item>
      Omegle <mat-icon>videocam</mat-icon> Zoom
    </a>
  </mat-nav-list>

</mat-toolbar>



<!--  for mobile screen-->
<mat-toolbar  fxShow.lt-md="true" fxHide.gt-sm="true" color="primary" fxLayoutAlign="center">

  <mat-nav-list  fxLayout fxLayoutAlign="center" >
    <a   mat-list-item>
      Omegle <mat-icon>videocam</mat-icon> Zoom
    </a>
  </mat-nav-list>
</mat-toolbar>

