<!--for large screen -->
<div *ngIf="disconnection" class="text-center alert alert-danger" role="alert">
  This is a primary alert—check it out!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<button mat-raised-button (click)="this.disconnection=true">CLICK</button>
<div class="main-container">
  <div  class="m-3" fxLayout fxLayoutAlign="center center">
    <video class="video" autoplay #localVideo ></video>
    <video  class="video" autoplay #remoteVideo ></video>
  </div>
  <div  fxLayout  fxLayoutAlign="space-around center">
    <button style="background-color: seagreen"  mat-raised-button (click)="start()"><mat-icon>video_camera_front</mat-icon> Find Someone!</button>
    <button  mat-raised-button (click)="closeVideoConnection()" [disabled]="disableDisconnectCall" ><mat-icon>call_end</mat-icon>Disconnect!</button>
  </div>
</div>


<ngx-spinner
  name="MainScreenSpinner"
  bdColor = "rgba(0,0,0,0.6)"
             size = "medium" color = "#512888"
             type = "square-jelly-box" [fullScreen] = "true"
><p style="color: white" > Finding Partner For You.... </p>
</ngx-spinner>





