<!--for large screen -->
<div fxLayout="column" fxLayoutAlign="center center">
  <p class="text-center" style="padding-top: 1%">Meeting ID</p>
  <mat-form-field appearance="fill">
    <input type="text"
           matInput
           [value]="this.room  | shorten"
           readonly
           #inputMeetingId>
    <mat-icon  matSuffix >
      content_copy</mat-icon>
  </mat-form-field>

</div>


<div class="main-container">
  <div  class="m-3" fxLayout fxLayoutAlign="center center">
    <video class="video" autoplay #localVideo ></video>
    <video  class="video" autoplay #remoteVideo [hidden] = "!isConnected" ></video>
  </div>
  <div  fxLayout  fxLayoutAlign="space-around center">
    <button  mat-raised-button (click)="closeVideoConnection()" ><mat-icon>call_end</mat-icon>End Meeting.</button>
  </div>
</div>


<ngx-spinner
  name="MainScreenSpinner"
  bdColor = "rgba(0,0,0,0.6)"
  size = "medium" color = "#512888"
  type = "square-jelly-box" [fullScreen] = "true"
><p style="color: white" > Finding Partner For You.... </p>
</ngx-spinner>





