html, body {
  height: 100%;
  background-color: lavender;
}
* {
  font-family: Comfortaa;
}

.main-container {
  height:85%;
  margin-bottom: 1%;

}

.snackbar-class {
  background: #d22929;
  color : white;
}

